In [2]:
import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

df.head()
print(df.shape)
print(df.dtypes)
print(df.isna().sum())

(891, 12)
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
# df=df.drop('Cabin',axis=1)
# cabin was deleted but reruning it results in an error, hence commented out

In [4]:
df.columns
df['Age']=df['Age'].fillna(df['Age'].median())

In [5]:
df['Embarked']=df['Embarked'].fillna(df['Embarked'].mode()[0])

In [6]:
df['FamilySize']=df['SibSp']+df['Parch']+1
df['IsAlone']=df['FamilySize'].apply(lambda x:1 if x==1 else 0)
df['FarePerPerson']=df['Fare']/df['FamilySize']

In [7]:
rich_survivor=pd.DataFrame(df[(df['Fare']>50) & (df['Survived']==1)])
print(rich_survivor.shape)
print(rich_survivor.head())

(109, 15)
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
31           32         1       1
52           53         1       1
61           62         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
31     Spencer, Mrs. William Augustus (Marie Eugenie)  female  28.0      1
52           Harper, Mrs. Henry Sleeper (Myna Haxtun)  female  49.0      1
61                                Icard, Miss. Amelie  female  38.0      0

    Parch    Ticket      Fare Cabin Embarked  FamilySize  IsAlone  \
1       0  PC 17599   71.2833   C85        C           2        0
3       0    113803   53.1000  C123        S           2        0
31      0  PC 17569  146.5208   B78        C           2        0
52      0  PC 17572   76.7292   D33        C           2        0
61      0    113572   80.0000   B28        S           1        1

    FarePerPerson
1        35.64165
3        26.55000
31       73.26040
52       38.36460
61       80.00000

In [8]:
print(df.groupby(['Pclass']).agg({'Survived':'mean','Fare':'mean'}))

        Survived       Fare
Pclass
1       0.629630  84.154687
2       0.472826  20.662183
3       0.242363  13.675550